@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL STYLES */

body {
  font-family: 'JetBrains Mono', 'Fira Code', monospace;
  /* font-size: 1.5rem; */
  min-height: 100vh;
  background-image: radial-gradient(hsl(240, 60%, 21%), hsl(220, 30%, 10%));
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

header {
  background-color: rgb(21, 20, 64);
  font-size: 2rem;
  /* padding: 0.25rem 0.5rem; */
  color: white;
}

.header-title-line {
  padding: 1rem 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.header-title-line p {
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: 1rem;
}

nav {
  margin-right: 1rem;
}

nav a {
  color: #a3a3a3;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover, nav a:focus {
  color: #fff;
}

:is(nav a:hover, nav a:focus) .header__emoji {
  display: inline-block;
  animation: 2.5s 2 normal shake;
}

@keyframes shake {
  33% {
    transform: rotate(45deg);
  }
  66% {
    transform: rotate(-45deg);
  }
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 1rem;
}

.main__article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1000px;
}

.main__section {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* align-items: center; */
  gap: 0.5rem;
  /* position: absolute;
  top: -200px;
  left: 15%; */
}

.main__title {
  color: rgb(79, 170, 176);
}

.main__name {
  color: #c1e4e3;
  font-size: 2.5rem;
}

.main__description {
  color: #848787;
  font-size: 1.5rem;
}

.main__tech-stack ul li {
  display: inline-block;
  list-style-type: none;
}