@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL STYLES */

body {
  font-family: 'JetBrains Mono', 'Fira Code', monospace;
  /* font-size: 1.5rem; */
  min-height: 100vh;
  background-image: radial-gradient(hsl(240, 60%, 21%), hsl(220, 30%, 10%));
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

header {
  background-color: rgb(21, 20, 64);
  font-size: 2rem;
  /* padding: 0.25rem 0.5rem; */
  color: white;
}

.header-title-line {
  padding: 1rem 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.header-title-line p {
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: 1rem;
}

.header__button {
  display: none;
}

nav {
  margin-right: 1rem;
}

.header__nav-mobile {
  display: none;
}

nav a {
  color: #a3a3a3;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover,
nav a:focus {
  color: #fff;
}

:is(nav a:hover, nav a:focus) .header__emoji-mail {
  display: inline-block;
  animation: 3.5s 2 normal shake;
}

:is(nav a:hover, nav a:focus) .header__emoji-head {
  display: inline-block;
  animation: 3.5s 2 normal shake;
}

@keyframes jump {
  33% {
    transform: translateY(100px);
  }

  66% {
    transform: rotate(-45deg);
  }
}

@keyframes shake {
  33% {
    transform: rotate(45deg);
  }

  66% {
    transform: rotate(-45deg);
  }
}

:is(nav a:hover, nav a:focus) .header__emoji-gear {
  display: inline-block;
  animation: 6s infinite linear forwards rotate;
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.main__article {
  display: flex;
  flex-direction: row;
  /* justify-content: spa; */
  margin-left: 15%;
}

.main__article-tech {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* max-width: 1000px; */
}

.main__article-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main__section {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* align-items: center; */
  gap: 0.5rem;
  /* position: absolute;
  top: -200px;
  left: 15%; */
}

.main__section-contact {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* align-items: center; */
  gap: 0.5rem;
  border: 1px solid #264653;
  /* border-radius: 4px; */
  text-align: center;
  padding: 20px;
}

.main__title {
  color: rgb(79, 170, 176);
  font-size: 1.3rem;
}

.main__name {
  color: #c1e4e3;
  font-size: 2.5rem;
}

.main__description {
  color: #848787;
  font-size: 1.5rem;
}

.main__tech-stack {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  /* align-items: center; */
  font-size: 3.5rem;
  gap: 2rem;
  text-align: center;
}

.main__tech-stack ul li {
  display: inline-block;
  list-style-type: none;
}

.tech-icon {
  transition: all 0.3s ease;
}

.tech-icon:hover {
  filter: drop-shadow(0 0 30px currentColor);
  transform: scale(1.2);
}

.tech-icon-nestjs:hover {
  filter: drop-shadow(0 0 30px #ea2845);
  transform: scale(1.2);
}

.tech-icon-expressjs:hover {
  filter: drop-shadow(0 0 30px black);
  transform: scale(1.2);
}

.tech-icon-laravel:hover {
  filter: drop-shadow(0 0 30px #ff2d20);
  transform: scale(1.2);
}

.tech-icon-tailwind:hover {
  filter: drop-shadow(0 0 30px #06b6d4);
  transform: scale(1.2);
}

.main__section-title-contact {
  color: rgb(79, 170, 176);
  font-weight: bold;
  margin-top: 0.3rem;
}

.main__section-description-contact {
  margin: 1rem 0;
  color: #a3a3a3;
}

.main__anchor-contact {
  margin-top: auto;
}

.main__anchor-contact a {
  color: #c1e4e3;
  background-color: #264653;
  text-decoration: none;
  font-weight: 600;
  display: block;
  padding: 0.8rem;
  transition: all 0.1s ease-in-out;
}

.main__anchor-contact a:hover,
.main__anchor-contact a:focus {
  color: white;
  background-color: #12343b;
}

.main__anchor-contact a:active {
  transform: scale(0.98);
}

@media screen and (max-width: 768px) {
  .header-title-line p {
    font-size: 1.3rem;
  }

  .main__title {
    color: rgb(79, 170, 176);
    font-size: 1rem;
  }
  .header__button {
    display: inline-block;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
  }

  nav {
    display: none;
    margin-right: 0;
  }

  .header__nav-mobile.show {
    display: block;
  }

  .header__nav-mobile.show a {
    display: block;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #a3a3a3;
    text-decoration: none;
    font-weight: 600;
    border-top: 1px solid black;
  }

  .header__nav-mobile.show a:hover,
  .header__nav-mobile.show a:focus {
    color: #fff;
    background-color: #153673;
  }

  main {
    padding-left: 0;
  }

  .main__article {
    display: flex;
    flex-direction: row;
    /* justify-content: spa; */
    margin-left: 20px;
  }

  .main__name {
    color: #c1e4e3;
    font-size: 1.8rem;
  }
  
  .main__description {
    color: #848787;
    font-size: 1.2rem;
  }

  .main__tech-stack {
    font-size: 1.5rem;
  }

  .tech-icon {
    width: 50px;
    height: 40px;
  }
}